/*---------------------------------------------*/
                /*FUENTES*/
/*----------------------------------------------*/
@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: bebasBook;
    src: url(../fonts/BebasNeue-Book.ttf);
}

@font-face {
    font-family: GothamMedium;
    src: url(../fonts/GothamMedium.otf);
}

@font-face {
    font-family: GothamBook;
    src: url(../fonts/GothamBook.otf);
}

@font-face {
    font-family: GothamBold;
    src: url(../fonts/GothamBold.otf);
}



@font-face {
    font-family: GothamBlack;
    src: url(../fonts/Gotham-Black.otf);
}


@font-face {
    font-family: RobotoBold;
    src: url(../fonts/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: RobotoSlabThin;
    src: url(../fonts/RobotoSlab-Thin.ttf);
}

@font-face {
    font-family: RalewayRegular;
    src: url(../fonts/Raleway-Regular.ttf);
}




@font-face {
    font-family: OswaldBold;
    src: url(../fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: OswaldExtraLight;
    src: url(../fonts/Oswald-ExtraLight.ttf);
}

@font-face {
    font-family: OswaldLight;
    src: url(../fonts/Oswald-Light.ttf);
}


@font-face {
    font-family: OswaldMedium;
    src: url(../fonts/Oswald-Medium.ttf);
}


@font-face {
    font-family: OswaldRegular;
    src: url(../fonts/Oswald-Regular.ttf);
}


@font-face {
    font-family: UbuntuBoldItalic;
    src: url(../fonts/Ubuntu-BI.ttf);
}




@font-face {
    font-family: UbuntuRegular;
    src: url(../fonts/Ubuntu-R.ttf);
}

@font-face {
    font-family: UbuntuItalic;
    src: url(../fonts/Ubuntu-I.ttf);
}


@font-face {
    font-family: HouseScript;
    src: url(../fonts/SignPainter-HouseScript-Regular.ttf);
}

/*---------------------------------------------*/
                /*GENERALES*/
/*----------------------------------------------*/

a,a i{
    
     -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  cursor:pointer;

}

a:hover{
    text-decoration: none;
}
ul{
    padding:0;
}

ul.flex{ 
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
/*---------------------------------------------*/
                /*HEADER*/
/*----------------------------------------------*/

header{
    padding: 20px 43px;
    position:fixed;
    top:0;
    z-index: 3;
    width: 100%;
    font-family: GothamBook ;
    background:transparent;
        -webkit-box-shadow: -1px 10px 30px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 30px -24px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 30px -24px rgba(0,0,0,0.75);
    height: 93px;
}


header ul.menu{
    
    float: right;
    margin-top: 17px;
    padding: 0;
    list-style: none;
}

header ul.menu>li {
    float:left;
    position:relative;
}



a.active:after{
  width: 100%;  
}

header ul.menu>li:not(:first-child){
    margin-left:0;
}


header ul.menu>li>a {
    letter-spacing: 1px;
    
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 30px;
    padding: 14px;
}


header ul.menu>li>a:not(.rr-ss):hover{
    border:2px solid black;
}

header ul.menu>li>a[href=saca_tu_prestamo] {
       color: #EE4E23;
    letter-spacing: 1px;
   font-size: 21px;
    border-width: 2px;
    border-style: solid;
    border-color: #EE4E23;
    border-radius: 30px;
    padding: 14px;
}


header ul.menu>li>a[href=saca_tu_prestamo]:hover {
       color: white;
    background:#EE4E23;
}


header ul.menu>li>a[href=saca_tu_prestamo]:active {
       color: white !important;
}


header ul.menu>li>a[href=saca_tu_prestamo]:focus {
       color: #EE4E23 !important;
       background:transparent;
}





header ul.menu>li>a:not(.rr-ss):active,header ul.menu>li>a:not(.rr-ss):focus{
   color:#EE4E23;

}

header ul.menu>li>a i {
}

header ul.menu>li>a.rr-ss i{
       font-size: 24px;
    margin-top: -4px;
}


header ul.menu>li>a.rr-ss{
    padding:0;
    margin-left:15px;
}

header ul.menu>li>a.rr-ss:hover i{
}


header ul.sub-menu{
    background:rgba(31, 151, 204, 0.95);
    margin-left: 18px;
    display:none;
    position:absolute;
        top: 39px;
    width: 248px;
}

header ul.sub-menu li{
    padding:10px;
}

header ul.sub-menu li a{
    color:white;
    font-size: 15px;
}

header ul.sub-menu li a:hover{
    color: lightgrey;
}

header ul.sub-menu li:not(:first-child){
    border-top: 1px solid white;
}





.close-menu-xs{
    float:right;
    margin-top: 4%;
    margin-right: 4%;
}



.close-menu-xs i {
        font-size: 2.3rem;
    color: #00A5E7;
    margin-right: 16px;
}
.xs-row img{
    float:left;
}


 .logo{
    width: 250px !important;
}

.xs-row{
    position:absolute;
    top:0;
    z-index: 2;
    padding:0;
}


.xs-row i{
    float: right;
    font-size: 3rem;
    color: #00A5E7;
    margin-top: 6px;
}


.btn-cont{
    height: 48.875px;
}


.overlay-xs-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 50000;
    display: block;
        background-color: rgba(255, 255, 255, 0.9);
    animation: openMenu 0.9s cubic-bezier(.19,1,.22,1) forwards;
    padding-left: 0;
    text-align: center;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay-xs-menu li {
        margin-top: 41px;
}





.overlay-xs-menu .left {
    float:left;
        margin-left: 16px;
}

.overlay-xs-menu li a.xs-btn {
    font-size: 1.8rem;
    color: #00A5E7;
    font-family: GothamBold;
}


.overlay-xs-menu li a.xs-btn:hover {
    color: #114980;
    text-decoration: none;
}

.overlay-xs-menu .center-block{
    width: 87px;
}

@keyframes openMenu{
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}


.addBkground{
    background:rgba(45,45,45,0.70);
}

.removeBkground{
    background:transparent;
}


/*---------------------------------------------*/
                /*CONTENIDO*/
/*----------------------------------------------*/

div.bkground{
    width: 100%;
    height: 100vh;
    background: url(../img/bkground.jpg);
    position: relative;
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}


div.bkground>h1, div.bkground ul{
       position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 69px;
    text-align: center;
    color: white;
    
}


div.bkground>h1{
   font-family: GothamBook; 
       font-size: 6rem;

}


div.bkground ul{

    top:200px;


}

div.bkground ul li {
padding:50px;}

div.bkground ul li h1{

    font-family: GothamBlack;
     text-align: left;
       font-size: 4rem;

}


div.bkground ul li h1,div.bkground ul li h2{
     font-family: GothamBlack;
     text-align: left;
       font-size: 3rem;

}



/*FIN MODAL TRABAJA CON NOSOTROS Y CONVERTITE CON COMERCILIZADOR */

/*PRELOADER*/

#preloader, #preloader-mailing  {
       position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
       background-color: white;
    z-index: 10043;
    height: 100%;
    opacity:1;
    color:#1a9cd6;
    text-align:center;

}

#preloader .confirm-container,#preloader-mailing .confirm-container{
        position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 25%;
    height: 100px;
}

#preloader img,#preloader-mailing img {
        width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#preloader .exito, #preloader-mailing .exito{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    right: 0;
    height: 400px;
}

#status, #preloader-mailing #status {
 position: relative;
    /* left: 50%; */
    /* top: 50%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
}

.spinner-sm {
      border: 3px solid grey;
    border-top: 3px solid rgb(26, 156, 214);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




/*MEDIA QUERIES*/

@media only screen and (width: 320px){
  

}

@media only screen and (min-width: 320px) and (max-width: 400px) and (orientation:portrait) {


}

@media only screen and (min-width: 320px) and (max-width: 850px) and (orientation:landscape) {

}


@media only screen and (min-width: 10px) and (max-width: 1024px)  {


}



@media only screen and (min-width: 320px) and (max-width: 768px){


}



@media only screen and (min-width: 768px) and (max-width: 1023px) {

}


@media only screen and (width: 1024px)  {


}

@media only screen and (min-width: 1024px) and (max-width: 1200px)  {

}



@media only screen and (min-width: 1200px) and (max-width: 1500px) {

    
}


@media only screen and (min-width: 1500px) and (max-width: 1800px) {

}




@media only screen (width: 1920px) {


}

















