#quienes-somos{
	.flex{
		justify-content:center;
	}

	h3.sub{
		margin-bottom:28px;
	}

	.flex li{
		flex-basis:142px;
		img{
			display:block;
			margin:auto;
			width:71px;
		}

		p{
			margin-top:5px;
		}
		
	}
}